.about {
  padding-top: 126px;
  &__wrapper {
    display: grid;
    grid-template-columns: 400px 570px;
    grid-template-rows: minmax(240px, auto) minmax(240px, auto);
    gap: 40px 70px;
  }
  &__photo {
    grid-row: 1 / 3;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    padding-top: 5px;
    .divider {
      margin-top: 0;
    }
  }
  &__subtitle {
    position: relative;
    padding-left: 9px;
    @include before-round;
    &:before {
      left: -4px;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  &__skills {
    display: grid;
    grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 260px);
    gap: 20px 50px;
    &-item {
      display: grid;
      grid-template-columns: 40px 200px;
      grid-template-rows: 1fr;
      column-gap: 20px;
    }
    &-circle {
      padding-top: 10px;
      padding-left: 15px;
      position: relative;
      @include before-round;
    }
    &-text {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
